{% extends "admin/layout.html" %}

{% block admin_title %}Verification {{ verification.user.username }}{% endblock %}

{% block admin_body %}

<div class="panel-body">
	<a class="btn btn-primary" href="{{ url_for('admin.user', user_id=verification.user_id) }}">View user page</a>
    <br/>
    <label>Username:</label>{{ verification.user.username }}<br />

    <label>E-mail:</label>{{ verification.user.email }}<br />

    <label>COUNTRY:</label>{{ verification.country_code }}<br />
    <label>First Name:</label>{{ verification.first_name }}<br />
    <label>Last Name:</label>{{ verification.last_name }}<br />
    <label>Birth Date:</label>{{ verification.birthdate }}<br />
    <label>Random Code:</label>{{ verification.random_code }}<br />

    <label>ID Issuing Country:</label>{{ verification.id_issuing_country }}<br />
    <label>ID Type:</label>{{ verification.id_type }}<br />
    <label>ID Number:</label>{{ verification.id_number }}<br />
    <label>ID Expire Date:</label>{{ verification.id_expire_date }}<br />

    <label>Address Line 1:</label>{{ verification.address_line_1 }}<br />
    <label>Address Line 2:</label>{{ verification.address_line_2 }}<br />
    <label>City:</label>{{ verification.city }}<br />
    <label>State:</label>{{ verification.country_state }}<br />
    <label>Postal Code:</label>{{ verification.postal_code }}<br />
    <label>Institution_name:</label>{{ verification.institution_name }}<br />
    <label>Document Type:</label>{{ verification.document_type }}<br />
    <label>Document Date Issued:</label>{{ verification.document_date_issued }}<br />

    ID Documents:
    {% for p in photos if p.step == 1 %}
        <a href="{{ p.get_url() }}" >{{ loop.index }}</a>,
    {% endfor %}
    <br/>
    Keycode Documents:
    {% for p in photos if p.step == 2 %}
        <a href="{{ p.get_url() }}" >{{ loop.index }}</a>,
    {% endfor %}
    <br/>
    Residence Documents:
    {% for p in photos if p.step == 3 %}
        <a href="{{ p.get_url() }}" >{{ loop.index }}</a>,
    {% endfor %}
    <br/>

    <form action="{{ url_for('admin.user_verification_post', user_id=verification.user_id, action='rejected') }}" method="post">
        <button class="btn btn-primary" type="submit">Reject</button>
    </form>
    <form action="{{ url_for('admin.user_verification_post', user_id=verification.user_id, action='completed') }}" method="post">
        <button class="btn btn-primary" type="submit">Complete</button>
    </form>
</div>
{% endblock %}
