{% set tab = 'inbox' %}

{% extends "new/account/layout.html" %}

{% block title %}Inbox | jobdone.net{% endblock %}

{% block body %}
<div class="container inbox standard" id="sm-account-inbox">
  <div class="row order-list inbox-list table" v-cloak>
    <div class="col-md-12">
      <div class="tabs-holder row">
        <ul class="nav nav-tabs left-position col-md-11">
          <li role="presentation" class="missing" v-bind:class="{ active: folder === 'inbox' }">
            <a href="#" @click.prevent="setFolder('inbox')">Inbox</a>
          </li>
          <li role="presentation" class="active-tab" v-bind:class="{ active: folder === 'unread' }">
            <a href="#" @click.prevent="setFolder('unread')">Unread<span class="badge" v-if="tabCounts.unread" v-text="tabCounts.unread"></span></a>
          </li>
          <li role="presentation" class="active-tab" v-bind:class="{ active: folder === 'sent' }">
            <a href="#" @click.prevent="setFolder('sent')">Sent</a>
          </li>
          <li role="presentation" class="active-tab" v-bind:class="{ active: folder === 'archive' }">
            <a href="#" @click.prevent="setFolder('archive')">Archive</a>
          </li>
        </ul>

        <div class="col-md-1">
          <div class="actions-holder" v-show="!currentRoom && isSelectedExist">
            <button class="btn btn-default pull-right" v-bind:disabled="folder !== 'inbox' && folder !== 'sent'" @click="handleArchiveRooms">Archive</button>
          </div>
        </div>
      </div>

      <transition name="fade" mode="out-in">

        <div class="tabs-processing"
             v-if="processingTab"
             key="processingOn">
          <spinner/>
        </div>

        <div class="tabs-content"
             v-else
             key="processingOff">

          <div v-if="!currentRoom" class="margin">
            <table width="100%" border="0" class="inbox-table full">
              <thead>
                <tr>
                  <th v-if="folder === 'inbox' || folder === 'sent'" width="50"></th>
                  <th>USER</th>
                  <th>SUBJECT</th>
                  <th>LAST MESSAGE</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in items" v-cloak>
                  <td v-if="folder === 'inbox' || folder === 'sent'">
                    <input type="checkbox" v-model="selectedItems[item.type + ':' + item.entity_id]" />
                  </td>
                  <td>
                    <div class="infomracion-container">
                      <div class="avatar-container">
                        <img v-bind:src="item._photo_url" class="circle" :username="item._username" @error="imgError" />
                      </div>
                      <div class="text-info">
                        <a href="#" class="title" v-text="item._username" @click.prevent="currentRoom = item"></a>
                      </div>
                    </div>
                  </td>
                  <td class="inbox-table-subject">
                    <a href="#" v-text="item._display_name" @click.prevent="currentRoom = item" v-bind:class="{ unread: item.unread }"></a>
                    <div class="inbox-table-message" v-text="item.message"></div>
                  </td>
                  <td>
                    <span v-text="item._last_action_date_display"></span>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="pagination-table">
              <div class="col-md-6">
                <div class="pagination-list" v-show="!itemsLoading && totalResults > 0" v-cloak>
                  <ul class="pagination">
                    <li v-bind:class="{ disabled: currentPage <= 1 }"><a href="#" @click.prevent="handlePageSelect(currentPage - 1)">&laquo;</a></li>
                    <li v-for="page in pages" v-bind:class="{ active: currentPage === page }">
                      <a href="#" @click.prevent="handlePageSelect(page)" v-text="page">2</a>
                    </li>
                    <li v-bind:class="{ disabled: currentPage >= pages[pages.length - 1] }"><a href="#" @click.prevent="handlePageSelect(currentPage + 1)">&raquo;</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="gotopage">
                  <span class="fileds">
                    <label for="gotopage">Go To Page</label>
                    <input type="number" name="gotopage" v-model="gotoPage" @keypress.enter="handlePageSelect(+gotoPage)">
                    <a href="#" class="btn" @click.prevent="handlePageSelect(+gotoPage)">GO</a>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div v-if="currentRoom">
            <div class="messages-wrapper">
              <div class="messages-header-top">
                <button class="btn btn-default" @click="currentRoom = null">&larr; Back</button>
                <button class="btn btn-default pull-right" @click="handleArchiveRoom" v-show="!currentRoom.is_archived">Archive</button>
              </div>

          <div class="messages-header">
            <div class="row">
              <div class="col-sm-6">
                <a v-bind:href="currentRoomPeer && currentRoomPeer._url" class="profile-container">
                  <img v-if="currentRoomPeer" v-bind:src="currentRoomPeer._photo_url" :username="currentRoomPeer.username" class="profile message-user" @error="imgError"  />
                </a>
                <div v-if="currentRoomPeer" class="username">
                  <h3><a v-bind:href="currentRoomPeer._url" v-text="currentRoomPeer.username"></a></h3>
                  <div class="extra-info">
                    <div class="extra-info-rating" v-if="currentRoomPeer._seller">
                      <div class="star-rating" :class="{ ['selected-rate-' + currentRoomPeer._feedbacks_rating_int]: 1 }">
                        <label title="Rocks!"></label>
                        <label title="Pretty good"></label>
                        <label title="Meh"></label>
                        <label title="Kinda bad"></label>
                        <label title="Sucks big time"></label>
                      </div>
                      (<span v-text="currentRoomPeer._feedbacks_count"></span>)
                    </div>
                    <p v-if="currentRoomPeer.country"><span v-text="currentRoomPeer._country_printable"></span></p>
                    <p>Member since <span v-text="currentRoomPeer._member_since"></span></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="info content" v-if="currentRoomOrder">
                  <a v-bind:href="currentRoomOrder._url" class="product" v-text="currentRoomOrder._service_title"></a><span class="ordernumber">Order #<span v-text="currentRoomOrder.id"></span></span>
                </div>

                <div class="info content" v-if="currentRoomService">
                  <a v-bind:href="currentRoomService._url" class="product" v-text="currentRoomService.title"></a>
                  <span v-if="currentRoomPeer._response_time">Avg. Response Time: <span v-text="currentRoomPeer._response_time"></span></span>
                </div>
              </div>
            </div>
          </div>

              <div class="messagesbody" ref="currentRoomMessagesBody">
                <div class="message" v-for="message in currentRoomMessages" v-bind:class="{ incoming: message._incoming, outcomming: message._outgoing, system: message.type !== 'message' }">
                  <div class="message-peer-holder">
                    <div class="peer-holder" v-if="message._incoming">
                      <img v-if="currentRoomPeer" v-bind:src="currentRoomPeer._photo_url" class="profile message-user" :username="currentRoomPeer.username" @error="imgError" />
                    </div>
                    <div class="peer-holder" v-else>
                      <img src="{{ g.user.get_photo_url('p_up') }}" class="profile message-user" username="{{ g.user.username }}" @error="imgError" />
                    </div>
                    <div class="message-header">
                      <span v-if="message.type === 'enquiry_offer'"><span v-text="message._sender"></span> have offered a new service</span>
                      <span v-if="message.type === 'message'" v-text="message._sender"></span>
                      <span class="date-sent" v-text="message._date_display"></span>
                    </div>
                  </div>
                  <div class="message-holder">
                    <div class="message-body">
                      <div v-if="message.type === 'message'">
                        <p v-text="message.text" v-if="message.text"></p>
                        <p v-if="message.meta && message.meta.attachments" class="attachments">
                          <span class="attachment-item" v-for="attachment in message.meta.attachments">
                            <i class="fa fa-paperclip attachment-icon"></i>
                            <a v-bind:href="'/api/account/messaging/download/' + attachment.attachmentId + '/' + attachment.filename" v-text="attachment.filename" target="_blank"></a>
                          </span>
                        </p>
                      </div>
                      <p v-if="message.type === 'new_order'">Order has been created</p>
                      <p v-if="message.type === 'order_accepted'">Order has been accepted</p>
                      <p v-if="message.type === 'order_sent'">Order has been sent</p>
                      <p v-if="message.type === 'order_rejected'">Order has been rejected</p>
                      <p v-if="message.type === 'order_completed'">Order has been closed</p>
                      <p v-if="message.type === 'order_cancelled'">Order has been cancelled</p>
                      <p v-if="message.type === 'order_dispute'">Order is under resolution process</p>

                      <div v-if="message.type === 'enquiry_offer'">
                        <div class="message-container">
                          <div class="message-inner">
                            <div class="message-image">
                              <img :src="message._service_thumb_url" />
                            </div>
                            <div class="message-info">
                              <div class="message-info-inner">
                                <span class="message-title" v-text="message._service_title"></span>
                                <p class="message-description" v-text="message.text" v-if="message.text"></p>
                                <div class="message-specifications">
                                  <span>Specifications</span>
                                  <div class="message-specifications-container">
                                    <span class="message-specification-delivery">
                                      <i class="icon icon-clock"></i>
                                      <span v-text="message._offer_delivery_time"></span> day delivery</span>
                                    <span class="message-specification-expiration">
                                      <i class="icon icon-hourglass"></i>
                                      <span v-text="message._offer_revision_count"></span> day expiration</span>
                                  </div>
                                </div>
                              </div>

                            </div>
                            <div class="message-actions">
                              <div class="message-actions-inner">
                                <div class="message-price-container">
                                  <span class="message-price"><span v-text="'$' + (message._offer_price / 100).toFixed(2)"></span></span>
                                </div>
                                <div class="message-buttons-container" v-if="!serviceOfferDisabled[message.meta.enquiry_offer.id] && !message.meta.enquiry_offer.is_closed && !message.meta.enquiry_offer.is_accepted">
                                  <div class="message-action-btn">
                                    <button class="btn btn-primary btn-accept" v-if="currentRoomPeer._seller" @click="handleBuyerOfferAccept(message.meta.enquiry_offer.id)">Accept</button>
                                    <button class="btn btn-light btn-await" v-if="!currentRoomPeer._seller">Awaiting</button>
                                  </div>
                                  <div class="message-under-btn">
                                    <span v-if="currentRoomPeer._seller" @click="handleSellerOfferCancel(message.meta.enquiry_offer.id)">no thanks</span>
                                    <span v-if="!currentRoomPeer._seller" @click="handleSellerOfferCancel(message.meta.enquiry_offer.id)">Cancel this offer</span>
                                  </div>
                                </div>
                                <div v-if="serviceOfferLoading[message.meta.enquiry_offer.id]">
                                  <Spinner />
                                </div>
                                <div class="message-order-status-container" v-else>
                                  <div v-if="(serviceOfferDisabled[message.meta.enquiry_offer.id] && serviceOfferDisabled[message.meta.enquiry_offer.id].is_closed) || message.meta.enquiry_offer.is_closed">
                                    Offer is canceled
                                  </div>
                                  <div v-if="(serviceOfferDisabled[message.meta.enquiry_offer.id] && serviceOfferDisabled[message.meta.enquiry_offer.id].is_accepted) || message.meta.enquiry_offer.is_accepted">
                                    Offer is accepted
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--Custom Service Offer:<br />-->
                        <!--<p>-->
                          <!--<img :src="message._service_thumb_url" />-->
                          <!--<span v-text="message._service_title"></span>-->
                        <!--</p>-->
                        <!--<p>Price: <span v-text="'$' + (message._offer_price / 100).toFixed(2)"></span></p>-->
                        <!--<p>Delivery Time: <span v-text="message._offer_delivery_time"></span> days</p>-->
                        <!--<p>Revision Count: <span v-text="message._offer_revision_count"></span></p>-->
                        <!--&lt;!&ndash; <p>Expiration Time: <span v-text="message._offer_price"></span></p> &ndash;&gt;-->


                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="message-footer">
                <div class="lchat_area" v-if="currentRoomPeer">
                  <span class="pull-right">
                    <b v-text="currentRoomPeer.username"></b>
                    <b>Local time: <span v-text="currentRoomPeer.local_time"></span></b>
                    <span class="online" v-if="currentRoomPeer.is_online">Online</span>
                    <span class="offline" v-else v-text="'Last seen ' + currentRoomPeer._last_seen"></span>
                  </span>
                </div>

                <textarea v-model="currentRoomNewMessage" cols="30" rows="5" class="form-control" placeholder="type your message here"></textarea>
                <div class="row">
                  <div class="col-md-12">
                    <span class="warning" v-if="messageIncludedBlockWord.pay"><br/>Reminder : Never accept or ask for direct payments. Doing so may get your account restricted.</span>
                    <span class="warning" v-if="messageIncludedBlockWord.skype || messageIncludedBlockWord.phone"><br/>Terms of Service reminder : <br/> Providing email, Skype, or phone number is only allowed if it is needed as part of the service. Otherwise, all communication must go through Jobdone.net</span>
                  </div>
                </div>
                <div class="row" v-if="attachError">
                  <div class="col-md-12">
                    <p class="alert alert-danger" v-text="attachError">Error</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 attachment-list">
                    <ul>
                      <li v-for="upload in attachUploads">
                        <span v-text="upload.name"></span> &mdash; <span class="delete" v-if="!upload.active" @click="handleAttachDelete(upload)">delete</span><span v-else>uploading...</span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <ul class="nav navbar-nav navbar-right nav-flex">
                      <li>
                        <span class="icon attachements">
                          <file-upload title="" name="file" post-action="/api/account/messaging/upload" :multiple="true" :files="attachUploads" :events="attachUploadEvents" ref="uploader">
                          </file-upload>
                        </span>
                      </li>
                      <li v-if="currentRoomPeer && !currentRoomPeer._seller && sharedState.extra.has_active_products">
                        <a href="#" class="btn btn-default btn-createoffer" @click.prevent="handleCreateOffer">Create an Offer</a>
                      </li>
                      <li><a href="#" class="btn btn-primary btn-send" v-bind:disabled="attachUploading" v-bind:class="{ 'disabled':  messageIncludedBlockWord.skype || messageIncludedBlockWord.pay || messageIncludedBlockWord.phone }" @click.prevent="handleMessageSend">SEND</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </transition>

    </div>
  </div>

  <modal effect="fade" v-model="serviceOfferModal.show" class="modal-custom modal-select-service" v-cloak>
    <div slot="modal-header" class="modal-header">
      <div class="modal-header-inner">
        <button type="button" class="close" @click="serviceOfferModal.show = false"><span>&times;</span></button>
        <h4 class="modal-title" v-if="serviceOfferModal.step === 0">Select a service to offer</h4>
        <h4 class="modal-title" v-else>Specify your service details</h4>
      </div>
    </div>
    <div slot="modal-body" class="modal-body">
      <div class="request-form" v-if="serviceOfferModal.step === 0">
        <div v-if="serviceOfferModal.loading">
          <spinner></spinner>
        </div>
        <div v-else class="services-list">
          <label v-for="service in serviceOfferModal.services" class="service-element-wrapper">
            <input type="radio" v-model="serviceOfferModal.serviceId" :id="service.id" :value="service.id" name="serviceId" />
            <div class="service-element" :for="service.id">
              <div class="service-element-img">
                <img :src="service._thumbnail_url" width="50" height="50" />
              </div>
              <span v-text="'I will ' + service.title"></span>
              <label :for="service.id"></label>
            </div>
          </label>
        </div>
      </div>
      <div class="request-form" v-else>
        <h4>I will <span v-text="serviceOfferModal.service.title"></span></h4>

        <div class="request-form-row">
          <div class="service-offer-img">
            <img :src="serviceOfferModal.service._thumbnail_url" width="100" height="100" />
          </div>

          <div class="field textarea-field">
            <textarea v-model="serviceOfferModal.offer.text" style="width: 100%" cols="30" rows="3" placeholder="Write a sample description of your offer"></textarea>
          </div>
        </div>

        <div class="request-form-row">
          <div class="field">
            <p>Delivery Time</p>
            <div class="field-right">
              <select v-model="serviceOfferModal.offer.deliveryTime">
                <option :value="1" selected disabled hidden>1 Days</option>
                <option v-for="i in 14" :value="i" v-text="i+' Days'"></option>
              </select>
            </div>
          </div>
        </div>

        <div class="request-form-row">
          <div class="field">
            <p>Total offer amount</p>
            <div class="field-right">
              <div class="input">
                <span>$</span>
                <input v-model="serviceOfferModal.offer.price" type="text" placeholder="0.00" />
              </div>
            </div>
          </div>
        </div>

        <!--<p>Revision count:</p>-->
        <!--<div class="field">-->
          <!--<input v-model="serviceOfferModal.offer.revisionCount" type="text" placeholder="" size="4" :style="{ visibility: serviceOfferModal.offer.revisionCount == '-1' ? 'hidden' : 'visible' }" />-->
          <!--<label>-->
            <!--<input type="checkbox" :checked="serviceOfferModal.offer.revisionCount == '-1'" @change="$set(serviceOfferModal.offer, 'revisionCount', serviceOfferModal.offer.revisionCount == '-1' ? '3' : '-1')" />-->
            <!--Unlimited revisions-->
          <!--</label>-->
        <!--</div>-->
        <div class="request-form-row">
          <div class="field">
            <p>Expiration Time <span class="optional">(optional)</span></p>
            <div class="field-right">
              <select v-model="serviceOfferModal.offer.expirationTime">
                <option :value="-1" selected disabled hidden>- select -</option>
                <option v-for="i in 14" :value="i" v-text="i+' Days'"></option>
              </select>
            </div>
          </div>
        </div>

        <div class="alert alert-danger" v-if="serviceOfferModal.error" v-text="serviceOfferModal.error"></div>
      </div>
    </div>
    <div slot="modal-footer" class="modal-footer" style="text-align: right;">
      <div class="w-5 left">
        <button v-if="serviceOfferModal.step === 1" class="btn btn-default btn-back-left" v-bind:disabled="serviceOfferModal.loading"  @click.prevent="serviceOfferModal.step = 0">< Go Back</button>
      </div>
      <div class="w-5">
        <button v-if="serviceOfferModal.step === 0" class="btn btn-primary" v-bind:disabled="serviceOfferModal.loading || !serviceOfferModal.serviceId" style="display: inline-block;" @click.prevent="handleSubmitOffer">SUBMIT OFFER</button>

        <button v-if="serviceOfferModal.step === 1" href="#" class="btn btn-primary" v-bind:disabled="isNaN(serviceOfferModal.offer.price) || serviceOfferModal.offer.price <= 0" style="display: inline-block;" @click.prevent="handleSubmitOffer">SUBMIT OFFER</button>
      </div>
    </div>
  </modal>
</div>
{% endblock %}