.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:-100%;
    width: 100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}


#btnToggleMessagesPopover + .popover,
#btnToggleNotificationsPopover + .popover {
    min-width: 320px;
}

#btnToggleMessagesPopover + .popover ul,
#btnToggleNotificationsPopover + .popover ul {
    margin: 0;
}


.custom{
  width:60%;
  margin:0 auto;
  min-width: 600px;
}


.btn-space {
    margin-right: 5px;
    margin-left: 5px;
}

.btn-space2 {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.badge-notify{
   background:black;
   position:relative;
   top: -13px;
   left: -35px;
  }


.in_mijloc {
  position: absolute;
  left:50%;
  transform: translate(-50%,-50%);
  }


/*font Awesome http://fontawesome.io*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
/*Comment List styles*/
.comment-list .row {
  margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;
  /*Panel-heading border radius*/
  border-top-right-radius:0px;
  top: 1px;
}
.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px;
  right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.comment-list figcaption {
  /*For wrap text is thumbnail*/
  word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .comment-list .arrow:after, .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: #FFFFFF;
    border-width: 15px;
  }
  /*****Right Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    /*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    /*Change for different outline color*/
    border-left-color: #FFFFFF;
    border-width: 15px;
  }
}
.comment-list .comment-post {
  margin-top: 6px;
}

.notifications-popover {
    position: absolute;
    width: 400px;
    left: -180px;
    display: none;
}

.notifications-popover .popover {
    position: relative;
    display: block;
    max-width: 400px;
}


.thumbnail.product {
    position: relative;
    text-align: center;
}

.thumbnail.product .label {
    display: inline-block;
    margin-bottom: 5px;
}

.thumbnail.product .product-price {
    display: inline-block;
    border: 1px solid transparent;
    padding: 5px 10px;
    cursor: pointer;
}

.thumbnail.product .product-price:hover {
    border: 1px solid #CCC;
    border-radius: 5px;
}

.thumbnail.product .product-price:active {
    background-color: #EEE;
}

div.thumbnail {
    padding: 0px;
}

.thumbnailheader h3, .thumbnail p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.avatar {
    width: 60px;
    height: 60px;
    border: 2px solid #aaaaaa;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #aaaaaa;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
}

.avatar-text {
    padding-top: 10px;
}